# API endpoint (e.g., https://your-api-endpoint.execute-api.us-east-1.amazonaws.com/prod)
API_ENDPOINT=

# Auth0 configuration
AUTH0_DOMAIN=
AUTH0_M2M_CLIENT_ID=
AUTH0_M2M_CLIENT_SECRET=

CUSTOMER_CLIENT_ID=
CUSTOMER_REFRESH_TOKEN=
CUSTOMER_PRIVATE_KEY=
CUSTOMER_DEVICE_ID=
